DB_NAME=boxing
DB_USER=db_user
DB_PASSWORD=db_password
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
JWT_SECRET=KkX0mHRVEahERr8DIKIeaizN70VkTDptNaIQI1sSE9U=
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
